<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_scene</key>
	<string>tranquility</string>
	<key>system_scenes</key>
	<dict>
		<key>EQPanel</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>Pinch</key>
					<string>CurveWidth</string>
					<key>MainSlider</key>
					<string>MasterVolume</string>
					<key>PanX</key>
					<string>CurveCutoff</string>
					<key>TapNative</key>
					<string>Buttons</string>
					<key>Tap</key>
					<string>SwellSound</string>
				</dict>
			</array>
			<key>3d_element</key>
			<string>eqcube</string>
			<key>audio_element</key>
			<string>noop</string>
		</dict>
	</dict>
	<key>scenes</key>
	<dict>
		<key>fft</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>PanX</key>
					<string>EQfreq:EaseInSine:0.3</string>
					<key>Tap</key>
					<string>SwellSound</string>
					<key>AudioFrame</key>
					<string>frameCapture</string>
					<key>MainSlider</key>
					<string>MasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>fractalSphere.png</string>
			<key>display</key>
			<string>FFT</string>
			<key>3d_element</key>
			<string>fft</string>
			<key>audio_element</key>
			<string>funky</string>
		</dict>
		<key>scope</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>AudioFrame</key>
					<string>frameCapture</string>
					<key>PanX</key>
					<string>EQfreq:EaseInSine:0.3</string>
					<key>MainSlider</key>
					<string>MasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>fractalSphere.png</string>
			<key>display</key>
			<string>scope</string>
			<key>3d_element</key>
			<string>oscilloscope</string>
			<key>audio_element</key>
			<string>funky</string>
		</dict>
		<key>ripple</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>Timer</key>
					<string>u_time</string>
					<key>Tap</key>
					<string>SwellSound</string>
				</dict>
				<dict>
					<key>Timer</key>
					<string>zRotation</string>
					<key>MainSlider</key>
					<string>MasterVolume</string>
					<key>Tap</key>
					<string>u_ripplePt:EaseOutSine:2.3</string>
				</dict>
			</array>
			<key>icon</key>
			<string>test.png</string>
			<key>display</key>
			<string>ripples</string>
			<key>3d_element</key>
			<string>ripple</string>
			<key>audio_element</key>
			<string>tranquility</string>
		</dict>
		<key>tranquility</key>
		<dict>
			<key>icon</key>
			<string>mood.png</string>
			<key>display</key>
			<string>tranquility...</string>
			<key>connections</key>
			<array>
				<dict>
					<key>Loudness</key>
					<string>ItemRadius</string>
					<key>DblTap</key>
					<string>NewItem</string>
					<key>Tap</key>
					<string>MoveItem:EaseOutSine:0.6</string>
				</dict>
			</array>
			<key>3d_element</key>
			<string>pool</string>
			<key>audio_element</key>
			<string>poolside</string>
		</dict>
	</dict>
	<key>audio_elements</key>
	<dict>
		<key>poolside</key>
		<dict>
			<key>midifile</key>
			<string>ChildOfGod</string>
			<key>instanceClass</key>
			<string>PoolsideAudio</string>
			<key>instruments</key>
			<array>
				<string>ambience</string>
				<string>congas</string>
			</array>
		</dict>
		<key>noop</key>
		<dict>
			<key>instanceClass</key>
			<string>Audio</string>
			<key>instruments</key>
			<array/>
		</dict>
		<key>jazz</key>
		<dict>
			<key>instanceClass</key>
			<string>Serenity</string>
			<key>instruments</key>
			<array>
				<string>vibes</string>
				<string>congas</string>
			</array>
		</dict>
		<key>funky</key>
		<dict>
			<key>instanceClass</key>
			<string>AutoPlayMidiFile</string>
			<key>midifile</key>
			<string>funkRiff1</string>
			<key>instruments</key>
			<array>
				<string>vibes</string>
			</array>
		</dict>
		<key>tranquility</key>
		<dict>
			<key>instanceClass</key>
			<string>Serenity</string>
			<key>instruments</key>
			<array>
				<string>congas</string>
				<string>ambience</string>
			</array>
		</dict>
	</dict>
	<key>instruments</key>
	<dict>
		<key>clav</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>Clavinet (21KB)</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<integer>127</integer>
		</dict>
		<key>rhodes</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>rhodes_small</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<integer>127</integer>
		</dict>
		<key>sin</key>
		<dict>
			<key>isSoundfont</key>
			<false/>
			<key>preset</key>
			<string>sin</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<string>127</string>
		</dict>
		<key>vibes</key>
		<dict>
			<key>isSoundfont</key>
			<false/>
			<key>preset</key>
			<string>Vibraphone</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<string>127</string>
		</dict>
		<key>triangle</key>
		<dict>
			<key>isSountfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>triangle</string>
			<key>lo</key>
			<integer>46</integer>
			<key>hi</key>
			<integer>53</integer>
		</dict>
		<key>congas</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>lo</key>
			<integer>68</integer>
			<key>hi</key>
			<string>71</string>
			<key>preset</key>
			<string>CONGAS_3</string>
		</dict>
		<key>ambience</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>atmos1</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<integer>127</integer>
		</dict>
	</dict>
	<key>3d_elements</key>
	<dict>
		<key>fft</key>
		<dict>
			<key>instanceClass</key>
			<string>FFTScope</string>
			<key>order</key>
			<integer>40</integer>
			<key>icon</key>
			<string>newModel.png</string>
		</dict>
		<key>pool</key>
		<dict>
			<key>instanceClass</key>
			<string>PoolScreen</string>
			<key>order</key>
			<integer>40</integer>
			<key>icon</key>
			<string>newModel.png</string>
		</dict>
		<key>ripple</key>
		<dict>
			<key>instanceClass</key>
			<string>Ripple</string>
			<key>order</key>
			<integer>40</integer>
			<key>icon</key>
			<string>newModel.png</string>
		</dict>
		<key>oscilloscope</key>
		<dict>
			<key>instanceClass</key>
			<string>Oscilloscope</string>
			<key>order</key>
			<integer>40</integer>
			<key>icon</key>
			<string>newModel.png</string>
		</dict>
		<key>eqcube</key>
		<dict>
			<key>userData</key>
			<dict>
				<key>connections</key>
				<array>
					<dict>
						<key>Pinch</key>
						<string>CurveWidth</string>
						<key>PanX</key>
						<string>CurveCutoff</string>
						<key>TapNative</key>
						<string>Buttons</string>
					</dict>
				</array>
			</dict>
			<key>instanceClass</key>
			<string>EQCube</string>
		</dict>
		<key>imageBaker</key>
		<dict>
			<key>instanceClass</key>
			<string>ImageBaker</string>
			<key>order</key>
			<integer>40</integer>
			<key>icon</key>
			<string>imageBaker.png</string>
		</dict>
		<key>meshImporter</key>
		<dict>
			<key>instanceClass</key>
			<string>MeshImporter</string>
			<key>order</key>
			<integer>30</integer>
			<key>userData</key>
			<dict>
				<key>knownPODs</key>
				<dict>
					<key>man.pod</key>
					<dict>
						<key>Mat_belt</key>
						<string>Belt.pvr</string>
						<key>Mat_legs</key>
						<string>Legs.pvr</string>
						<key>Mat_body</key>
						<string>Body.pvr</string>
					</dict>
				</dict>
			</dict>
			<key>icon</key>
			<string>meshImporter.png</string>
		</dict>
		<key>fractalSphere</key>
		<dict>
			<key>instanceClass</key>
			<string>FractalSphere</string>
			<key>order</key>
			<integer>20</integer>
			<key>icon</key>
			<string>fractalSphere.png</string>
		</dict>
		<key>fluid</key>
		<dict>
			<key>instanceClass</key>
			<string>Fluid</string>
			<key>order</key>
			<integer>10</integer>
			<key>icon</key>
			<string>fluid.png</string>
		</dict>
		<key>stockdemo</key>
		<dict>
			<key>instanceClass</key>
			<string>StockDemo</string>
			<key>order</key>
			<integer>100</integer>
			<key>icon</key>
			<string>test.png</string>
		</dict>
		<key>photo</key>
		<dict>
			<key>instanceClass</key>
			<string>Photo</string>
			<key>order</key>
			<integer>50</integer>
			<key>icon</key>
			<string>photo.png</string>
		</dict>
		<key>text</key>
		<dict>
			<key>instanceClass</key>
			<string>Text</string>
			<key>order</key>
			<integer>60</integer>
			<key>icon</key>
			<string>text.png</string>
		</dict>
	</dict>
</dict>
</plist>
