<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_scene</key>
	<string>squarey</string>
	<key>scenes</key>
	<dict>
		<key>squarey</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerPlayButton</key>
					<string>kParamSceneAnimation</string>
					<key>kTriggerDrag1</key>
					<string>controllerPos</string>
					<key>kTriggerPanX</key>
					<string>kParamCameraRotationY</string>
				</dict>
				<dict>
					<key>kTriggerDblTap</key>
					<string>FixZoom</string>
					<key>kTriggerPanY</key>
					<string>kParamCameraZ</string>
					<key>kTriggerTap1</key>
					<string>RandomVibesNote</string>
					<key>kTriggerMainSlider</key>
					<string>kParamMasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>runner.png</string>
			<key>display</key>
			<string>sq</string>
			<key>3d_element</key>
			<string>test</string>
			<key>audio_element</key>
			<string>jazz</string>
		</dict>
		<key>bouncy</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerDblTap</key>
					<string>FixZoom</string>
					<key>kTriggerPanY</key>
					<string>Zoom</string>
					<key>kTriggerDynamicPeak</key>
					<string>Ping!</string>
					<key>kTriggerTap1</key>
					<string>RandomVibesNote</string>
					<key>kTriggerMainSlider</key>
					<string>kParamMasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>runner.png</string>
			<key>display</key>
			<string>Bouncy</string>
			<key>3d_element</key>
			<string>bouncyMesh</string>
			<key>audio_element</key>
			<string>jazz</string>
		</dict>
		<key>spherey</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerDblTap</key>
					<string>ResetRotation</string>
					<key>kTriggerPanY</key>
					<string>kParamRotationX</string>
					<key>kTriggerPanX</key>
					<string>kParamRotationY</string>
					<key>kTriggerMainSlider</key>
					<string>kParamMasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>fractalSphere.png</string>
			<key>display</key>
			<string>Sphere-y</string>
			<key>3d_element</key>
			<string>spherey_element</string>
			<key>audio_element</key>
			<string>jazz</string>
		</dict>
		<key>fractal</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerDynamicPeak</key>
					<string>Ping!</string>
					<key>kTriggerTap1</key>
					<string>RandomVibesNote</string>
					<key>kTriggerMainSlider</key>
					<string>kParamMasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>fractalSphere.png</string>
			<key>display</key>
			<string>fractal</string>
			<key>3d_element</key>
			<string>fractalSphere</string>
			<key>audio_element</key>
			<string>jazz</string>
		</dict>
		<key>fft</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerAudioFrame</key>
					<string>kParamAudioFrameCapture</string>
					<key>kTriggerMainSlider</key>
					<string>kParamMasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>fractalSphere.png</string>
			<key>display</key>
			<string>FFT</string>
			<key>3d_element</key>
			<string>fft</string>
			<key>audio_element</key>
			<string>synthOfGod</string>
		</dict>
		<key>scope</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerAudioFrame</key>
					<string>kParamAudioFrameCapture</string>
					<key>kTriggerTap1</key>
					<string>RandomVibeNote</string>
					<key>kTriggerMainSlider</key>
					<string>kParamMasterVolume</string>
				</dict>
			</array>
			<key>icon</key>
			<string>fractalSphere.png</string>
			<key>display</key>
			<string>scope</string>
			<key>3d_element</key>
			<string>oscilloscope</string>
			<key>audio_element</key>
			<string>electro</string>
		</dict>
		<key>ripple</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerTimer</key>
					<string>u_time</string>
				</dict>
				<dict>
					<key>kTriggerUpdate</key>
					<string>kParamRotationZ</string>
				</dict>
			</array>
			<key>icon</key>
			<string>test.png</string>
			<key>display</key>
			<string>ripples</string>
			<key>3d_element</key>
			<string>ripple</string>
			<key>audio_element</key>
			<string>tranquility</string>
		</dict>
		<key>tranquility</key>
		<dict>
			<key>icon</key>
			<string>mood.png</string>
			<key>display</key>
			<string>tranquility...</string>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerMainSlider</key>
					<string>kParamMasterVolume</string>
					<key>kTriggerDynamicPeak</key>
					<string>ItemRadius</string>
					<key>kTriggerDblTap</key>
					<string>NewItem</string>
					<key>kTriggerTap1</key>
					<string>MoveItem:EaseOutSine:0.6</string>
				</dict>
			</array>
			<key>3d_element</key>
			<string>pool</string>
			<key>audio_element</key>
			<string>poolside</string>
		</dict>
	</dict>
	<key>audio_elements</key>
	<dict>
		<key>synthOfGod</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>channelVolumes</key>
				<array>
					<real>0.1</real>
				</array>
			</dict>
			<key>generators</key>
			<array>
				<string>saw</string>
			</array>
			<key>instanceClass</key>
			<string>AutoPlayMidiFile</string>
			<key>midifile</key>
			<string>ChildOfGodSolo</string>
		</dict>
		<key>electro</key>
		<dict>
			<key>connections</key>
			<array>
				<dict>
					<key>kTriggerTap1</key>
					<string>TapNote</string>
				</dict>
			</array>
			<key>instanceClass</key>
			<string>Synth</string>
			<key>generators</key>
			<array>
				<string>sine</string>
				<string>square</string>
				<string>saw</string>
			</array>
		</dict>
		<key>poolside</key>
		<dict>
			<key>midifile</key>
			<string>ChildOfGod</string>
			<key>instanceClass</key>
			<string>PoolsideAudio</string>
			<key>instruments</key>
			<array>
				<string>ambience</string>
				<string>congas</string>
			</array>
		</dict>
		<key>jazz</key>
		<dict>
			<key>instanceClass</key>
			<string>VibesPlayer</string>
			<key>instruments</key>
			<array>
				<string>vibes</string>
			</array>
		</dict>
		<key>funky</key>
		<dict>
			<key>instanceClass</key>
			<string>AutoPlayMidiFile</string>
			<key>midifile</key>
			<string>funkRiff1</string>
			<key>instruments</key>
			<array>
				<string>clav</string>
			</array>
		</dict>
		<key>tranquility</key>
		<dict>
			<key>instanceClass</key>
			<string>Serenity</string>
			<key>instruments</key>
			<array>
				<string>congas</string>
				<string>ambience</string>
			</array>
		</dict>
	</dict>
	<key>generators</key>
	<dict>
		<key>saw</key>
		<dict>
			<key>instanceClass</key>
			<string>Oscillator</string>
			<key>properties</key>
			<dict>
				<key>waveType</key>
				<string>Saw</string>
			</dict>
		</dict>
		<key>square</key>
		<dict>
			<key>instanceClass</key>
			<string>Oscillator</string>
			<key>properties</key>
			<dict>
				<key>waveType</key>
				<string>Square</string>
			</dict>
		</dict>
		<key>sine</key>
		<dict>
			<key>instanceClass</key>
			<string>Oscillator</string>
			<key>properties</key>
			<dict>
				<key>waveType</key>
				<string>Sine</string>
			</dict>
		</dict>
	</dict>
	<key>instruments</key>
	<dict>
		<key>clav</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>Clavinet (21KB)</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<integer>127</integer>
		</dict>
		<key>rhodes</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>rhodes_small</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<integer>127</integer>
		</dict>
		<key>sin</key>
		<dict>
			<key>isSoundfont</key>
			<false/>
			<key>preset</key>
			<string>sin</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<string>127</string>
		</dict>
		<key>vibes</key>
		<dict>
			<key>isSoundfont</key>
			<false/>
			<key>preset</key>
			<string>Vibraphone</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<string>127</string>
		</dict>
		<key>triangle</key>
		<dict>
			<key>isSountfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>triangle</string>
			<key>lo</key>
			<integer>46</integer>
			<key>hi</key>
			<integer>53</integer>
		</dict>
		<key>congas</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>lo</key>
			<integer>68</integer>
			<key>hi</key>
			<string>71</string>
			<key>preset</key>
			<string>CONGAS_3</string>
		</dict>
		<key>ambience</key>
		<dict>
			<key>isSoundfont</key>
			<true/>
			<key>patch</key>
			<integer>0</integer>
			<key>preset</key>
			<string>atmos1</string>
			<key>lo</key>
			<integer>0</integer>
			<key>hi</key>
			<integer>127</integer>
		</dict>
	</dict>
	<key>3d_elements</key>
	<dict>
		<key>test</key>
		<dict>
			<key>instanceClass</key>
			<string>GenericImport</string>
			<key>properties</key>
			<dict>
				<key>scaleXYZ</key>
				<real>1</real>
				<key>drawMethod</key>
				<string>triangles</string>
				<key>colladaFile</key>
				<string>ballStretch.dae</string>
			</dict>
		</dict>
		<key>spherey_element</key>
		<dict>
			<key>instanceClass</key>
			<string>Spherey</string>
		</dict>
		<key>fft</key>
		<dict>
			<key>instanceClass</key>
			<string>FFTScope</string>
		</dict>
		<key>pool</key>
		<dict>
			<key>instanceClass</key>
			<string>PoolScreen</string>
		</dict>
		<key>ripple</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>connections</key>
				<array>
					<dict>
						<key>kTriggerTap1</key>
						<string>SwellSound</string>
					</dict>
					<dict>
						<key>kTriggerMainSlider</key>
						<string>kParamMasterVolume</string>
						<key>kTriggerTap1</key>
						<string>u_ripplePt:EaseOutSine:2.3</string>
					</dict>
				</array>
			</dict>
			<key>instanceClass</key>
			<string>Ripple</string>
		</dict>
		<key>oscilloscope</key>
		<dict>
			<key>instanceClass</key>
			<string>Oscilloscope</string>
		</dict>
		<key>eqcube</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>connections</key>
				<array>
					<dict>
						<key>Pinch</key>
						<string>CurveWidth</string>
						<key>kTriggerPanX</key>
						<string>CurveCutoff</string>
						<key>TapNative</key>
						<string>Buttons</string>
					</dict>
				</array>
			</dict>
			<key>instanceClass</key>
			<string>EQCube</string>
		</dict>
		<key>imageBaker</key>
		<dict>
			<key>instanceClass</key>
			<string>ImageBaker</string>
			<key>order</key>
			<integer>40</integer>
			<key>icon</key>
			<string>imageBaker.png</string>
		</dict>
		<key>fractalSphere</key>
		<dict>
			<key>instanceClass</key>
			<string>FractalSphere</string>
		</dict>
		<key>fluid</key>
		<dict>
			<key>instanceClass</key>
			<string>Fluid</string>
			<key>order</key>
			<integer>10</integer>
			<key>icon</key>
			<string>fluid.png</string>
		</dict>
		<key>stockdemo</key>
		<dict>
			<key>instanceClass</key>
			<string>StockDemo</string>
			<key>order</key>
			<integer>100</integer>
			<key>icon</key>
			<string>test.png</string>
		</dict>
		<key>photo</key>
		<dict>
			<key>instanceClass</key>
			<string>Photo</string>
			<key>order</key>
			<integer>50</integer>
			<key>icon</key>
			<string>photo.png</string>
		</dict>
		<key>text</key>
		<dict>
			<key>instanceClass</key>
			<string>Text</string>
			<key>order</key>
			<integer>60</integer>
			<key>icon</key>
			<string>text.png</string>
		</dict>
	</dict>
	<key>models</key>
	<dict>
		<key>squarey.pod</key>
		<dict>
			<key>mat1</key>
			<string>aotkSmall.pvr</string>
		</dict>
		<key>bouncy.pod</key>
		<dict>
			<key>pool_png</key>
			<string>pool.pvr</string>
		</dict>
		<key>man.pod</key>
		<dict>
			<key>Mat_belt</key>
			<string>Belt.pvr</string>
			<key>Mat_legs</key>
			<string>Legs.pvr</string>
			<key>Mat_body</key>
			<string>Body.pvr</string>
		</dict>
	</dict>
</dict>
</plist>
