<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main</key>
	<dict>
		<key>new_element</key>
		<dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>icon</key>
			<string>newModel.png</string>
			<key>items</key>
			<dict>
				<key>photo_element</key>
				<dict>
					<key>renderClass</key>
					<string>MenuItem</string>
					<key>handler</key>
					<string>TGPhotoFactory</string>
					<key>icon</key>
					<string>photo.png</string>
				</dict>
				<key>text_element</key>
				<dict>
					<key>renderClass</key>
					<string>MenuItem</string>
					<key>handler</key>
					<string>TGSpinningTextFactory</string>
					<key>icon</key>
					<string>text.png</string>
				</dict>
			</dict>
		</dict>
		<key>mood</key>
		<dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>TGMoodSwing</string>
			<key>icon</key>
			<string>mood.png</string>
		</dict>
		<key>audio_tweak</key>
		<dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>TGAudioTweak</string>
			<key>icon</key>
			<string>audioProp.png</string>
		</dict>
	</dict>
</dict>
</plist>
