<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main</key>
	<dict>
		<key>new_element</key>
		<dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>icon</key>
			<string>newModel.png</string>
			<key>items</key>
			<dict>
				<key>imageBaker_element</key>
				<dict>
					<key>userData</key>
					<dict>
						<key>instanceClass</key>
						<string>ImageBaker</string>
					</dict>
					<key>icon</key>
					<string>imageBaker.png</string>
					<key>handler</key>
					<string>Factory</string>
					<key>renderClass</key>
					<string>MenuItem</string>
				</dict>
				<key>fractalSphere_element</key>
				<dict>
					<key>userData</key>
					<dict>
						<key>instanceClass</key>
						<string>FractalSphere</string>
					</dict>
					<key>icon</key>
					<string>fractalSphere.png</string>
					<key>handler</key>
					<string>Factory</string>
					<key>renderClass</key>
					<string>MenuItem</string>
				</dict>
				<key>test_element</key>
				<dict>
					<key>userData</key>
					<dict>
						<key>instanceClass</key>
						<string>CustomPlane</string>
					</dict>
					<key>icon</key>
					<string>test.png</string>
					<key>handler</key>
					<string>Factory</string>
					<key>renderClass</key>
					<string>MenuItem</string>
				</dict>
				<key>fluid_element</key>
				<dict>
					<key>userData</key>
					<dict>
						<key>instanceClass</key>
						<string>Fluid</string>
					</dict>
					<key>icon</key>
					<string>fluid.png</string>
					<key>handler</key>
					<string>Factory</string>
					<key>renderClass</key>
					<string>MenuItem</string>
				</dict>
				<key>photo_element</key>
				<dict>
					<key>userData</key>
					<dict>
						<key>instanceClass</key>
						<string>Photo</string>
					</dict>
					<key>renderClass</key>
					<string>MenuItem</string>
					<key>handler</key>
					<string>Factory</string>
					<key>icon</key>
					<string>photo.png</string>
				</dict>
				<key>text_element</key>
				<dict>
					<key>userData</key>
					<dict>
						<key>instanceClass</key>
						<string>Text</string>
					</dict>
					<key>renderClass</key>
					<string>MenuItem</string>
					<key>handler</key>
					<string>Factory</string>
					<key>icon</key>
					<string>text.png</string>
				</dict>
			</dict>
		</dict>
		<key>mood</key>
		<dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>TGMoodSwing</string>
			<key>icon</key>
			<string>mood.png</string>
		</dict>
		<key>audio_tweak</key>
		<dict>
			<key>userData</key>
			<dict>
				<key>segueTo</key>
				<string>segueToSettings</string>
			</dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>Factory</string>
			<key>icon</key>
			<string>audioProp.png</string>
		</dict>
	</dict>
</dict>
</plist>
