<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>new_element</key>
	<dict>
		<key>imageBaker_element</key>
		<dict>
			<key>order</key>
			<integer>40</integer>
			<key>userData</key>
			<dict>
				<key>instanceClass</key>
				<string>ImageBaker</string>
			</dict>
			<key>icon</key>
			<string>imageBaker.png</string>
			<key>handler</key>
			<string>Factory</string>
			<key>renderClass</key>
			<string>MenuItem</string>
		</dict>
		<key>meshImporter_element</key>
		<dict>
			<key>order</key>
			<integer>30</integer>
			<key>userData</key>
			<dict>
				<key>knownPODs</key>
				<dict>
					<key>man.pod</key>
					<dict>
						<key>Mat_belt</key>
						<string>Belt.pvr</string>
						<key>Mat_legs</key>
						<string>Legs.pvr</string>
						<key>Mat_body</key>
						<string>Body.pvr</string>
					</dict>
				</dict>
				<key>instanceClass</key>
				<string>MeshImporter</string>
			</dict>
			<key>icon</key>
			<string>meshImporter.png</string>
			<key>handler</key>
			<string>Factory</string>
			<key>renderClass</key>
			<string>MenuItem</string>
		</dict>
		<key>fractalSphere_element</key>
		<dict>
			<key>order</key>
			<integer>20</integer>
			<key>userData</key>
			<dict>
				<key>instanceClass</key>
				<string>FractalSphere</string>
			</dict>
			<key>icon</key>
			<string>fractalSphere.png</string>
			<key>handler</key>
			<string>Factory</string>
			<key>renderClass</key>
			<string>MenuItem</string>
		</dict>
		<key>fluid_element</key>
		<dict>
			<key>order</key>
			<integer>10</integer>
			<key>userData</key>
			<dict>
				<key>instanceClass</key>
				<string>Fluid</string>
			</dict>
			<key>icon</key>
			<string>fluid.png</string>
			<key>handler</key>
			<string>Factory</string>
			<key>renderClass</key>
			<string>MenuItem</string>
		</dict>
		<key>test_element</key>
		<dict>
			<key>order</key>
			<integer>100</integer>
			<key>userData</key>
			<dict>
				<key>instanceClass</key>
				<string>StockDemo</string>
			</dict>
			<key>icon</key>
			<string>test.png</string>
			<key>handler</key>
			<string>Factory</string>
			<key>renderClass</key>
			<string>MenuItem</string>
		</dict>
		<key>photo_element</key>
		<dict>
			<key>order</key>
			<integer>50</integer>
			<key>userData</key>
			<dict>
				<key>instanceClass</key>
				<string>Photo</string>
			</dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>Factory</string>
			<key>icon</key>
			<string>photo.png</string>
		</dict>
		<key>text_element</key>
		<dict>
			<key>order</key>
			<integer>60</integer>
			<key>userData</key>
			<dict>
				<key>instanceClass</key>
				<string>Text</string>
			</dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>Factory</string>
			<key>icon</key>
			<string>text.png</string>
		</dict>
	</dict>
	<key>main</key>
	<dict>
		<key>mood</key>
		<dict>
			<key>order</key>
			<integer>20</integer>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>TGMoodSwing</string>
			<key>icon</key>
			<string>mood.png</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>order</key>
			<integer>30</integer>
			<key>userData</key>
			<dict>
				<key>segueTo</key>
				<string>segueToSettings</string>
			</dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>Factory</string>
			<key>icon</key>
			<string>audioProp.png</string>
		</dict>
		<key>plause_play</key>
		<dict>
			<key>order</key>
			<integer>40</integer>
			<key>userData</key>
			<dict>
				<key>command</key>
				<string>pauseToggle</string>
			</dict>
			<key>renderClass</key>
			<string>PauseToggle</string>
			<key>handler</key>
			<string>Factory</string>
			<key>icon</key>
			<string>pause.png</string>
		</dict>
		<key>delete_view</key>
		<dict>
			<key>placement</key>
			<string>bottom</string>
			<key>order</key>
			<integer>1000</integer>
			<key>userData</key>
			<dict>
				<key>command</key>
				<string>deleteNode</string>
			</dict>
			<key>renderClass</key>
			<string>MenuItem</string>
			<key>handler</key>
			<string>Factory</string>
			<key>icon</key>
			<string>trash.png</string>
		</dict>
	</dict>
</dict>
</plist>
